::placeholder {
   font-family: "Poppins";
   font-style: normal;
   font-weight: 300;
   font-size: 10px;
   line-height: 15px;
   /* identical to box height */

   color: #b0b0b0;
}

.cont-profile {
   padding-right: 344px;
   height: 184px;
   background-color: #0090e8;
   border-radius: 8px;
}

a.listgroup-container {
   font-family: "Poppins";
   font-style: normal;
   font-weight: 400;
   font-size: 16px;
   line-height: 24px;

   color: #4E83B5;

   text-decoration: none;
   border: none;

   border-radius: 10px;
}

.listgroup-container:hover {
   font-family: "Poppins";
   background-color: #4E83B5;
   color: white;

   border-radius: 10px;
}

/* DIPAKE BUAT ACTIVE LISTGROUP */
.act-listgroup {
   font-family: "Poppins";
   background-color: #4E83B5;
   color: white;

   border-radius: 10px;
}

.act-listgroup:hover {
   color: white;
}

.bread-crumb {
   font-family: "Poppins";
   font-style: normal;
   font-weight: 400;
   font-size: 12px;
   line-height: 24px;
}

.label-detail {
   font-family: "Poppins";
   font-style: normal;
   font-weight: 400;
   font-size: 12px;
   line-height: 18px;

   color: #aab2bb;
}

.position-adjust {
   padding-top: 55px;
   padding-left: 60px;
}

.position-adjust2 {
   padding-top: 55px;
   padding-left: 20px;
}

.value-detail {
   margin-left: 10px;
   margin-top: 10px;

   font-family: "Poppins";
   font-style: normal;
   font-weight: 300;
   font-size: 10px;
   line-height: 15px;

   color: #b0b0b0;
}

.value-detailHero {
   margin-left: 10px;
   margin-top: 10px;

   font-family: "Poppins";
   font-style: normal;
   font-weight: 300;
   font-size: 10px;
   line-height: 15px;

   color: #b0b0b0;

   background-color: rgba(0, 0, 0, 0.15);
}

hr.underline {
   width: 280px;
}

hr.underline2 {
   width: 600px;
}

input.heroInputPegawai {
   font-family: "Poppins";
   font-style: normal;
   font-weight: 300;
   font-size: 10px;
   line-height: 15px;

   padding-left: 10px;
   width: 625px;
   height: 40px;

   border-radius: 4px;
   border: 1px solid #ccc;

   background-color: rgba(0, 0, 0, 0.15);
}

.btn-edit {
   margin-top: 20px;
   margin-bottom: 20px;
   padding-top: 9px;
   width: 299px;
   height: 35px;

   border-radius: 10px;
   text-align: center;
   font-family: "Poppins";
   font-style: normal;
   font-weight: 300;
   font-size: 15px;
   line-height: 15px;
   background-color: white;
   color: #7ac162;
   text-decoration: none;
   border-color: #7ac162 !important;
}

.btn-edit:hover {
   background-color: #7ac162;
}

.pageNumber {
   font-family: "Poppins";
   padding-left: 24px;
   padding-bottom: 10px;
}

.bg-headercard {
   height: 80px;
   background-color: #165C9E;
}

.pict-header {
   border-radius: 50%;
   width: 100px;
   margin-top: 15px;
}

.body-card {
   margin-top: 50px;
}

.title-card {
   font-family: "Poppins";
   font-style: normal;
   font-weight: 500;
   font-size: 14px;
   line-height: 21px;

   color: #b0b0b0;
}

.title-card2 {
   font-family: "Poppins";
   font-style: normal;
   font-weight: 300;
   font-size: 10px;
   line-height: 15px;
   /* identical to box height */

   color: #b0b0b0;
}

.font-bold {
   font-family: "Poppins";
   font-style: normal;
   font-weight: 600;
   font-size: 10px;
   line-height: 15px;

   color: #b0b0b0;
}

.titikdua {
   padding-left: 5px;
   padding-right: 5px;
}

.titikdua2 {
   padding-left: 12px;
   padding-right: 5px;
}

.card-shape {
   border-radius: 10px;
}

/* =================== */


select {
   background-color: red;
}

.uploadfoto::-webkit-file-upload-button {
   padding-top: 12px;
   padding-bottom: 20px;
}

.uploadsertifikat::-webkit-file-upload-button {
   padding-top: 12px;
   padding-bottom: 20px;
}

/* .uploadfoto::before {
  content: "Pilih File";
} */

/* input[type="file"].uploadfoto {
  padding-top: 13px;
} */

option.optPTKP {
   font-family: "Poppins";
   line-height: 15px;

   letter-spacing: 2px;
   font-size: 10px;
   font-size: 10px;

   color: #b0b0b0;

   background-color: #f8f8f8;
}

option.optKelamin {
   font-family: "Poppins";
   line-height: 15px;

   letter-spacing: 2px;
   font-size: 10px;
   font-size: 10px;

   color: #b0b0b0;

   background-color: #f8f8f8;
}

option.optAgama {
   font-family: "Poppins";
   line-height: 15px;

   font-size: 10px;

   color: #b0b0b0;

   background-color: #f8f8f8;
}

select.inputPegawai {
   font-family: "Poppins";
   line-height: 15px;

   font-size: 10px;

   color: #b0b0b0;
   background-color: #f8f8f8;

   padding-left: 10px;
   width: 100%;
   height: 40px;

   border-radius: 4px;
   border: none;

   background-color: #f8f8f8;
}

input.input-tambah {
   font-family: "Poppins";
   font-style: normal;
   font-weight: 300;
   font-size: 10px;
   line-height: 15px;
   color: #b0b0b0;

   padding-left: 10px;
   width: 100%;
   height: 40px;
   background: #f8f8f8;
   border-radius: 5px;

   border: none;
}

input.input-tambah2 {
   font-family: "Poppins";
   font-style: normal;
   font-weight: 300;
   font-size: 10px;
   line-height: 15px;
   color: #b0b0b0;

   padding-left: 10px;
   width: 300px;
   height: 40px;
   background-color: rgba(0, 0, 0, 0.15);
   border-radius: 5px;

   border: none;
}

input.input-tambahHero {
   font-family: "Poppins";
   font-style: normal;
   font-weight: 300;
   font-size: 10px;
   line-height: 15px;
   color: #b0b0b0;

   padding-left: 10px;
   width: 625px;
   height: 40px;
   background-color: white;
   border-radius: 5px;

   border: none;
}

input.heroInputPegawai2 {
   font-family: "Poppins";
   font-style: normal;
   font-weight: 300;
   font-size: 10px;
   line-height: 15px;

   padding-left: 10px;
   width: 300px;
   height: 40px;

   border-radius: 4px;
   border: 1px solid #ccc;

   background-color: rgba(0, 0, 0, 0.15);
}

.pageNumber {
   font-family: "Poppins";
   padding-left: 24px;
   padding-bottom: 50px;
}

.laycard {
   width: 100%;
   height: 344px;

   margin-top: 24px;

   background: #0090e8;
   border-radius: 10px;
}

.field-icon {
   float: right;
   margin-right: 10px;
   margin-top: -30px;
   position: relative;
   z-index: 2;
}

.cursPassword {
   font-family: "Poppins";
   font-style: normal;
   font-weight: 300;
   font-size: 10px;
   line-height: 15px;
   color: #b0b0b0;

   padding-right: 28px;
   width: 100%;
   height: 40px;
   background: #f8f8f8;
   border-radius: 5px;

   border: none;
}

.btn-kembali {
   margin-top: 20px;
   margin-bottom: 20px;

   padding-top: 7px;

   width: 299px;
   height: 35px;

   background-color: #ffffff;
   border-radius: 10px;
   text-align: center;
   font-family: "Poppins";
   font-style: normal;
   font-weight: 400;
   font-size: 12px;
   line-height: 18px;

   color: #dd7264;
}

.btn-perbarui {
   font-family: "Poppins";
   font-style: normal;
   font-weight: 400;
   font-size: 12px;
   line-height: 18px;
   color: #ffffff;

   margin-top: 20px;
   margin-bottom: 20px;

   padding-top: 7px;
   width: 299px;
   height: 35px;

   background: #0090e8;
   border-radius: 10px;
}

.labelAdd {
   font-family: "Poppins";
   font-style: normal;
   font-weight: 400;
   font-size: 12px;
   line-height: 18px;
   /* identical to box height */

   color: #aab2bb;
}

.inputPegawai {
   background: #f8f8f8;
   border-radius: 5px;
   border: none;
}

.page {
   margin-top: 10px;
}

.page .dot {
   height: 8px;
   width: 8px;
   margin: 0 2px;
   background-color: #bbb;
   display: inline-block;
   transition: background-color 0.6s ease;
   border-radius: 50%;
}

.dot1 {
   height: 8px;
   width: 40px;
   margin: 0 2px;
   background-color: #b0b0b0;
   display: inline-block;
   transition: 0.6s ease;
   border-radius: 5px;
}

.dotActive {
   height: 8px;
   width: 40px;
   margin: 0 2px;
   background-color: #0090e8;
   display: inline-block;
   transition: 0.6s ease;
   border-radius: 5px;
}

.new-image {
   width: 200px;
   height: 200px;
   margin-top: 10px;
   border-radius: 5px;
}

.new-image2 {
   border-radius: 5px;
   margin-top: -50px;
}

.addTitle-card {
   font-family: "Poppins";
   font-style: normal;
   font-weight: 600;
   font-size: 16px;
   line-height: 24px;
   text-align: center;

   color: #018fe5;
}

.addBody-card {
   font-family: "Poppins";
   font-style: normal;
   font-weight: 400;
   font-size: 12px;
   line-height: 18px;

   text-align: center;

   color: #aab2bb;
}

.bg-cardGradient {
   border-radius: 15px;
   background: linear-gradient(180deg,
         rgba(1, 143, 229, 0.1) 0%,
         rgba(1, 143, 229, 0) 100%);
}

.swal-text {
   background-color: #FEFAE3;
   padding: 17px;
   border: 1px solid #F0E1A1;
   display: block;
   margin: 22px;
   text-align: center;
   color: #61534e;
}