hr {
   margin-top: 0px;
   margin-bottom: 5px;
   margin-left: 10px;
}

a.list-group-item {
   padding: 10px;
   margin-bottom: 10px;
   background-color: #fff;
   font-family: 'Poppins';
   font-style: normal;
   font-weight: 500;
   font-size: 11px;
   line-height: 16px;


   color: #AAB2BB;
   text-decoration: none;
   border: transparent;
}

.list-group-item.aktif {
   background: #15548F;
   opacity: 90%;
   color: white;
}


.listgroup-container:hover {
   font-family: "Poppins";
   background-color: rgba(4, 176, 234, 0.2);
   color: #04B0EA;
}

.side-infosaya {
   height: 50%;
}

.judul-info {
   font-family: 'Poppins';
   font-style: normal;
   font-weight: 400;
   font-size: 21px;
   line-height: 50px;

   color: #AAB2BB;

   margin-left: 10px;
}

.content-info {
   font-family: 'Poppins';
   font-style: normal;
   font-weight: 400;
   font-size: 14px;

   color: #AAB2BB;

   margin-left: 10px;
}

.info-nama {
   font-family: 'Poppins';
   font-style: normal;
   font-weight: 400;
   font-size: 11px;
   line-height: 16px;

   color: #AAB2BB;
}

.info-nama2 {
   font-family: 'Poppins';
   font-style: normal;
   font-weight: 600;
   font-size: 11px;
   line-height: 16px;

   color: #AAB2BB;
}

.btn-ubah {
   width: 87px;
   height: 26px;
   padding-top: 2px;

   font-family: 'Poppins';
   font-style: normal;
   font-weight: 400;
   font-size: 12px;
   line-height: 18px;
   text-align: center;

   color: #AAB2BB;

   border: 1px solid #AAB2BB;
   border-radius: 5px;

   margin-top: 10px;
}

.btn-ubah2 {
   width: 87px;
   height: 26px;
   padding-top: 2px;

   font-family: 'Poppins';
   font-style: normal;
   font-weight: 400;
   font-size: 12px;
   line-height: 18px;
   text-align: center;

   color: #AAB2BB;

   border: 1px solid #AAB2BB;
   border-radius: 5px;

   margin-top: 10px;
   padding-top: 3px;
}

.btn-ubah:hover {
   color: #0090e8;
   border-color: #0090e8;
}

.btn-ubah2:hover {
   color: #0090e8;
   border-color: #0090e8;
}

.positioning-card {
   margin-top: 20px;
}

.positioning-card2 {
   margin-bottom: 74px;
}

.adj-img {
   width: 60px;
   margin-left: 20px;
}

.adj-img2 {
   width: 70px;

   margin-left: 20px;
}

.adj-card {
   width: 100%;
   padding-top: 15px;
   padding-bottom: 15px;
   margin-left: 10px;

   border: 1px solid rgba(0, 0, 0, 0.05);
   border-radius: 10px;
}

.full-card {
   width: 100%;
   height: 100%;
}

.garis {
   border-left: 1px solid rgba(0, 0, 0, 0.05);
}